<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.biljet.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Etiquetas necesarias para el funcionamiento de Google Maps API v2 -->
    <!-- =========================================================== -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Fijar permisos de la app -->
    <!-- =========================================================== -->


    <!-- Permisos necesarios para los mapas -->
    <permission
        android:name="com.biljet.app.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.biljet.app.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Permisos para el lector de QR -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Permisos para acceder a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Fijar recursos accedidos por la app -->
    <!-- =========================================================== -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- Fijar versión de la API para el cual esta orientada la app -->
    <!-- =========================================================== -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <!-- Definicion de las actividades de la app -->
    <!-- =========================================================== -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- API Key para GMaps -->
        <!-- DEBUG VALUE = AIzaSyA9njTlWFjGTGu46AO-tm5tO9oiS5Mwo24 -->
        <!-- RELEASE VALUE = AIzaSyByFGH_Ly70NXOmUt7iCmqFepPmh84ygaE  (Alias: biljet) -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyByFGH_Ly70NXOmUt7iCmqFepPmh84ygaE" />

        <!-- Activity + informacion para el intent SCAN del lector de QR -->
        <!-- =========================================================== -->

        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.biljet.app.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Biljet Activities -->
        <!-- =========================================================== -->

        <activity
            android:name="com.biljet.app.MyFriendsActivity"
            android:label="@string/title_activity_my_friends" >
        </activity>
        <activity
            android:name="com.biljet.app.FriendViewActivity"
            android:label="@string/title_activity_friend_view" >
        </activity>
        <activity
            android:name="com.biljet.app.MyProfileActivity"
            android:label="@string/title_activity_my_profile" >
        </activity>
        <activity
            android:name="com.biljet.app.UpcomingEventsActivity"
            android:label="@string/title_activity_upcoming_events" >
        </activity>
        <activity
            android:name="com.biljet.app.EventViewActivity"
            android:label="@string/title_activity_event_view" >
        </activity>
        <activity
            android:name="com.biljet.app.MyEventsActivity"
            android:label="@string/title_activity_my_events" >
        </activity>
        <activity
            android:name="com.biljet.app.NewEventActivity"
            android:label="@string/title_activity_new_event" >
        </activity>
        <activity
            android:name="com.biljet.app.CalendarViewActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_calendar_view" >
        </activity>
        <activity
            android:name="com.biljet.app.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.biljet.app.DayViewActivity"
            android:label="@string/title_activity_day_view" >
        </activity>
        <activity
            android:name="com.biljet.app.IndexActivity"
            android:label="@string/title_activity_index" >
        </activity>
        <activity
            android:name="com.biljet.app.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.biljet.app.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.biljet.app.MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name="com.biljet.app.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
    </application>

</manifest>